<%- include('partials/logged-in-nav') -%>
<div class="col mt-3">
  <!-- <div class="d-flex flex-row p-2"> -->
      
<div class="container mt-0">
  <div class="row mt-0">
    <div class="col">
      <ul class="row list-unstyled">
        <% for(var i=0; i<teamMembers.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="card ms-4">
              <ul class="list-group">
                <li class="list-group-item" id="teamMembers"><strong>Assigned To: </strong> <a href="/addedteamMemberss/<%= teamMembers[i]._id%>" class="text-decoration-none fw-bold text-primary"><p> <%= teamMembers[i].teamMembers%></p></a> </li>
            <!-- <a href="/addedteamMemberss/<%= teamMembers[i]._id%>">
              <p class=list-group-item" src="<%= teamMembers[i].addedteamMembers%>">
            </a>
          </li> -->
        </ul>
        <% } %>
        </ul>
    </div>
  </div>
    <div class="row mt-0">
        <div class="col">
          <ul class="row list-unstyled">
            <% for(var i=0; i<teamMembers.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <div class="card ms-4">
                  <ul class="list-group">
                    <li class="list-group-item" id="teamMembers"><strong>Assigned To: </strong> <a href="/teamMembers" class="text-decoration-none fw-bold text-primary"><p> <%= teamMembers[i].teamMembers%></p></a> </li>
                  </ul> 
                </div>
      
              </li>
              <% } %>
          </ul>
        </div>
      </div> 



    <div class="col col-md-2 justify-content-end align-items-end">
        <a href="/teamMembers" class="text-decoration-none fw-bold text-dark"><p> <%= teamMembers.teamMembers %></p></a>
        <a href="/logout" class="col-7 btn btn-secondary">Logout</a>
    </div>
  </div> 
</div>
</div>
<%- include('partials/footer') -%>

<!-- Need to grab the teamMembers Id number and push them into an array. Then a card needs to be created for every item in the array that includes all the information 
from that card -->