<%- include('partials/header') -%>
<div class="col mt-3">
  <!-- <div class="d-flex flex-row p-2"> -->
    <div class="col">
      <a class="text-secondary mx-5" href="/feed">Return to dashboard</a>
    </div>
    <div class="row-2 mt-0">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New Project
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Name</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="caption" class="form-label">Details</label>
                  <textarea class="form-control" id="caption" name="caption"></textarea>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Attach</label>
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> -->
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container mt-0">
  <div class="row mt-0">
    <div class="col">
      <ul class="row list-unstyled">
        <% for(var i=0; i<projects.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/project/<%= project[i]._id%>">
              <img class="img-fluid" src="<%= project[i]%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
    <div class="col col-md-2 justify-content-end align-items-end">
        <a href="/profile" class="text-decoration-none fw-bold text-dark"><p> <%= user.userName %></p></a>
        <a href="/logout" class="col-7 btn btn-secondary">Logout</a>
    </div>
  </div>
</div>
</div>
<%- include('partials/footer') -%>