<%- include('partials/logged-in-nav') -%>
<div class="container">

   <!-- Button trigger modal -->
   <div class="col-3">
   <button type="button" class="btn btn-dark m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Project</button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/projects/createProject" method="POST">
            <div class="mb-3">
                <label for="projectName" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName" name="projectName">
            </div>
            <div class="mb-3">
              <label for="task" class="form-label">Task Name</label>
              <textarea class="form-control" id="taskName" name="taskName"></textarea>
            </div>
            <div class="mb-3">
              <label for="teamMembers" class="form-label">Team member</label>
              <br>
              <select name="teamMember" id="teamMembers" placeholder="Name"> 
                <% var options = []; %>
                <% for(var i=0; i <projects.length; i++) {%>
                  <option value='<%= i %>'> <%=i%> </option>
                <% } %>
              </select>
            </div>
            <div class="mb-3">
              <label for="notes" class="form-label">Notes</label>
              <textarea class="form-control" id="notes" name="notes"></textarea>
            </div>
            <div class="mb-3">
              <label for="Date" class="form-label">Due Date</label>
              <input type="date" class="form-control" id="Date" name="dueDate" value="date">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Projects  -->
  <div class="row mt-0">
    <div class="col">
      <ul class="row list-unstyled">
        <% for(var i=0; i<projects.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="card ms-4">
              <ul class="list-group">
                <li class="list-group-item" id="projectName"><strong>Project Name: </strong><%= projects[i].projectName%></li>
                <li class="list-group-item" id="taskName"><strong>Task Name: </strong><%= projects[i].taskName%>  </li>
                <li class="list-group-item" id="teamMembers"><strong>Assigned: </strong> <a href="/teamMembers/<%= projects[i]._id%>" class="text-decoration-none fw-bold text-primary"><p> <%= projects[i].teamMember%></p></a> </li>
                <li class="list-group-item" id="notes"><strong>Notes: </strong><%= projects[i].notes%> </li>
                <li class="list-group-item" id="date"><strong>Due: </strong> <%= projects[i].dueDate%></li>
              </ul> 
            </div>
  
          </li>
          <% } %>
      </ul>
    </div>

</div>
</div>
<%- include('partials/footer') -%>

